aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
filetype
fonttools
frozendict
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mplfinance
msgpack
multidict
multitasking
mypy-extensions
narwhals
numpy
orjson
packaging
pandas
peewee
pillow
platformdirs
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rich
rpds-py
rsa
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
tenacity
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
watchdog
yarl
yfinance
zstandard
